body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

img{
    float: right;
    padding-bottom: 50px;
    height: 30px;
}

.email, .call, .Cancelbtn{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    text-align: center;

  }
  .email{
    background-color: aquamarine;
  }
  .email a{
    color: black;
  }
  .call{
    background-color: blue;
  }
  .call a {
    color: azure;
  }
  a{
    text-decoration: none;
  }

  .Cancelbtn{
    background-color: #f44336;
  }
  .Cancelbtn a{
    text-decoration: none;
    color: aliceblue;
  }
  
  